@using System.Globalization
@model DesafioMdi.Models.Paciente

@{
    ViewBag.Title = "Visualizar Paciente";
}

<h2>Visualizar Paciente</h2>
<hr />

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>

                <dd>
                    @DateTime.Parse(Model.DataNascimento.ToShortDateString(), new CultureInfo("pt-BR")).ToShortDateString()
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="btn-group">
    @Html.ActionLink("Voltar", "Listar", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Atualizar Paciente", "Atualizar", new { id = Model.PacienteId }, new { @class = "btn btn-mdi-default" })
</div>
